<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<header th:insert="~{/admin/fragment/header.html::head}">

</header>
<body>
<div class="container">
    <div class="row">
        <form id="formEdit">
            <div class="form-group">
                <input type="hidden" class="form-control" name="userName" th:value="${#authentication.getName()}">
            </div>
            <div class="form-group">
                <label>Old Password:</label>
                <input type="password" class="form-control" name="oldPassword">
            </div>
            <div class="form-group">
                <label>New Password:</label>
                <input type="password" class="form-control" name="newPassword">
            </div>
            <div class="form-group">
                <label>Confirm New Password:</label>
                <input type="password" class="form-control" name="confirmNewPassword">
            </div>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#formEdit").submit(e=>{
        e.preventDefault();
        let data = {};
        $("#formEdit").serializeArray().forEach(item=>{
            data[item.name]=item.value
        })
        if(confirm("Do you want change password ???")){
            $.ajax({
                url:"/api/user/password",
                method:"put",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:res=>{
                    alert("Done!!")
                    location.reload()
                },
                error:res=>{
                    alert(res.responseJSON.message);
                }

            })
        }
    })
</script>
</body>
</html>